<% content_for :js do %>
  <script>
    $(document).ready(function(){
    	renderBoard();
		});   

		function renderBoard() {
			var board,
			game = new Chess(),
		  movesEl = $('#moves');

		  $('#back').click(function() {
		  	game.undo();
		  	board.position(game.fen());
		  	updateStatus();
		  });

			var onDragStart = function(source, piece, position, orientation) {
			  if (game.game_over() === true ||
			      (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
			      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
			    return false;
			  }
			};

			var onDrop = function(source, target) {
			  var move = game.move({
			    from: source,
			    to: target,
			    promotion: 'q'
			  });
			  if (move === null)
			  	return 'snapback';
			  updateStatus();
			};

			var onSnapEnd = function() {
			  board.position(game.fen());
			};

			var updateStatus = function() {
			  $.ajax({
			  	url: '/moves/position',
			  	dataType: 'json',
			  	data: {
			  		fen: game.fen()
			  	}
			  }).then(function(moveData){
			  	board.position(game.fen());
			  	$.ajax({
			  	url: 'https://explorer.lichess.ovh/master?fen='+game.fen(),
			  	dataType: "json"
				  }).then(function(lichessData){
				  	movesEl.empty();
				  	var total = lichessData.white+lichessData.draws+lichessData.black;
				  	lichessData.moves.forEach((move) => {
				  		var moveTotal = move.white+move.draws+move.black;
				  		var percent = moveTotal/total * 100;
				  		if (percent > 0.1) {
				  			if (moveData && move.san == moveData.san)
				  				movesEl.append("<p><button class='move' id='"+move.uci+"-"+move.san+"'><b>"+move.san+": "+percent.toFixed(1)+"%</b></button><button class='delete'>Delete</button></p>");
				  			else
				  				movesEl.append("<p><button class='move' id='"+move.uci+"-"+move.san+"'>"+move.san+": "+percent.toFixed(1)+"%</button></p>");
				  		}
				  	});
				  	$('button.delete').click(function(){
				  		if (confirm("Are you sure you want to delete this move? (All progress will be lost)")){
				   			$.ajax({
				   				url: '/moves/delete',
				   				type: 'POST',
				   				data: {
				   					fen: game.fen()
				   				}
				   			}).then(updateStatus);
				   		}
			   		});
				  });
			  });
			};

			$('#right').off('click').on('click', '.move', function(event) {
					event.preventDefault();
					var from = event.target.id.slice(0,2);
					var to = event.target.id.slice(2,4);
					$('.square-'+from).removeClass("highlight");
					$('.square-'+to).removeClass("highlight");
					game.move(event.target.id.slice(5));
					updateStatus();
				});
			$('#right').on('mouseenter', '.move', function(event) {
					var from = event.target.id.slice(0,2);
					var to = event.target.id.slice(2,4);
					$('.square-'+from).addClass("highlight");
					$('.square-'+to).addClass("highlight");
					board.position(game.fen());
					
				});
				$('#right').on('mouseleave', '.move', function(event) {
					var from = event.target.id.slice(0,2);
					var to = event.target.id.slice(2,4);
					$('.square-'+from).removeClass("highlight");
					$('.square-'+to).removeClass("highlight");
					board.position(game.fen());
				});

			if (game.turn() == 'b')
				var orientation = 'black';
			else
				var orientation = 'white';
			var cfg = {
				orientation: orientation,
			  draggable: true,
			  position: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1',
			  onDragStart: onDragStart,
			  onDrop: onDrop,
			  onSnapEnd: onSnapEnd
			};
			board = ChessBoard('board', cfg);
			updateStatus();
		}  
  </script>
<% end %>

<div id="board" style="width: 600px"></div>
<div id="right">
	<div id ="back-button">
		<button id="back">Back</button>
	</div>
	<div id="correct"></div>
	<div id="message"></div>
	<div id="moves"></div>
</div>
<div id="bottom"><%= link_to "Back to Drill", drill_path %></div>
