/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
 *= require jquery-ui
 */

@import "bootstrap";
@import "chessboard-0.3.0.min";

body {
	background-color: skyblue;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	min-width: 1000px;
}

.header {
	display: block;
}

h1 {
	display: inline;
}


#login {
	display: inline;
	position: relative;
	left: 650px;
}

a {
	color: black;
}

a:hover {
	color: black;
}

#right {
	display: inline-block;
	background-color: white;
	border: 2px solid;
	height: 596px;
	width: 300px;
	padding: 20px;
	margin-left: 20px;
}

#right div {
	margin: 5px;
}

#board {
	float:left;
	display: inline;
}

#correct {
	font-weight: bold;
}

#bottom {
	display: block;
}

button {
	background-color:  #ffcccc;
	border-radius: 5px;
	border: 1px solid;
	border-color: darkgray;
	box-shadow: 1px 1px #888888;
	cursor: pointer;
	width: 125px;
}

button.move {
	background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( white, #dbe4f0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #dbe4f0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( white, #dbe4f0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #dbe4f0); /* Standard syntax */
}

button.delete {
	background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( white, #ffcccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #ffcccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( white, #ffcccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #ffcccc); /* Standard syntax */
}


#back {
	margin-bottom: 10px;
	background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( white, #d3edf8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #d3edf8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( white, #d3edf8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #d3edf8); /* Standard syntax */
}

#welcome {
	background-color: white;
	border: 2px solid;
	border-radius: 5px;
	padding: 20px;
}

.highlight {
	 -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;  
}