/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
 *= require jquery-ui
 */

@import "bootstrap";
@import "chessboard-0.3.0.min";

body {
	background-color: skyblue;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	min-width: 920px;
}

.header {
	display: block;
	/*text-align: center;*/
}

#right {
	/*float:right;*/
	display: inline-block;
	background-color: white;
	border: 2px solid;
	height: 596px;
	width: 300px;
	padding-left: 20px;
	padding-top: 20px;
	margin-left: 20px;
}

.new {
	background-color: skyblue;
}

.drill {
	background-color: skyblue;
}

#board {
	float:left;
	display: inline;
}

#correct {
	font-weight: bold;
}

#bottom {
	display: block;
}

